<a class="button" href='/new'><h2>New Game</a></h2>

{{#each games}}
<a href="/game/{{id}}"><img class="gameImg" src="{{imgLink}}" alt="gameImg"></a>
<h3>{{title}}</h3>
<p>Release Year: {{year}}</p>
<p>Created by: {{company}}</p>
{{/each}}