<a href="/game/{{game._id}}/edit">
    <h2>Edit this game</h2>
</a>
<form class="delete-form" action="/game/{{game.id}}?_method=DELETE" method="POST">
    <input class="btn" type="submit" value="DELETE">
</form>
<a href="/game/{{game._id}}/new">
    <h2>Add a new character</h2>
</a>

<h1>{{game.title}}</h1>

{{#each game.characters}}
<a href="/game/{{../game._id}}/character/{{_id}}"><img class="charImg" src="{{charLink}}" alt="character image"></a>
<p>{{_id}}</p>
<p>{{name}}</p>
<p>{{gender}}</p>

{{/each}}