<h2 class="gameTitle">{{game.title}}</h2>
<div class="charEdits">
    <a href="/game/{{game._id}}/edit">
        <h3>Edit this game</h3>
    </a>
    <form class="delete-form" action="/game/{{game.id}}?_method=DELETE" method="POST">
        <input class="btn" type="submit" value="DELETE THIS GAME">
    </form>
    <a href="/game/{{game._id}}/new">
        <h3>Add a new character</h3>
    </a>
</div>
<div class="charFlex">
    {{#each game.characters}}
    <div class="charData">
        <a href="/game/{{../game._id}}/character/{{_id}}"><img class="charImg" src="{{charLink}}"
                alt="character image"></a>
        <p>{{name}}</p>
    </div>
    {{/each}}
</div>