<div class="innerCharEdit">
    <a href="/game/{{gameId}}/character/{{chara.id}}/edit">Edit This Character</a>
    <form class="delete-form" action="/game/{{gameId}}/character/{{chara.id}}?_method=DELETE" method="POST">
        <input class="btn" type="submit" value="DELETE THIS CHARACTER">
    </form>
</div>
<div class="innerCharData">
    <img src="{{chara.charLink}}" alt="character image" class="innerCharImg">
    <p>{{chara.name}}</p>
    <p>{{chara.age}}</p>
    <p>{{chara.game}}</p>
    <p>{{chara.gender}}</p>
    <p>{{chara.history}}</p>
</div>
<div class="commentData">
    <a href="/game/{{gameId}}/character/{{chara.id}}/comment/new">Add a Comment</a>
    {{#each chara.comments}}
    <p>Username: {{user}}</p>
    <p>Comment : {{comment}}</p>
    <p>{{_id}}</p>
    <form class="delete-form" action="/game/{{../gameId}}/character/{{../chara.id}}/{{_id}}?_method=DELETE" method="POST">
        <input class="btn" type="submit" value="DELETE THIS COMMENT">
    </form>
    {{/each}}
</div>