
<img src="{{chara.charLink}}" alt="character image">
<p>{{chara.name}}</p>
<p>{{chara.age}}</p>
<p>{{chara.game}}</p>
<p>{{chara.gender}}</p>
<p>{{chara.history}}</p>
{{#each chara.comments}}
<p>{{user}}</p>
<p>{{date}}</p>
<p>{{comment}}</p>
{{/each}}